<!DOCTYPE html>
<meta charset="utf-8">

<!-- Load d3.js -->
<script src="https://d3js.org/d3.v4.js"></script>
<script src="/static/d3-simple-slider.js"></script>

<script src="https://d3js.org/d3-scale-chromatic.v1.min.js"></script>
<script src="https://d3js.org/d3-geo-projection.v2.min.js"></script>

<div class="row align-items-center">
   <div class="col-sm-2"><p id="value-range"></p></div>
   <div class="col-sm"><div id="slider-range"></div></div>
   <div class="col-leg" id="legend"></div>
   <select id="selectButton"></select>
   <img src="/static/download.jpeg" width="50" height="50" id="download">
 </div>


<!-- Create an element where the map will take place -->
<!-- <svg id="my_dataviz" viewBox="0 0 800 1000"  height="800" width="1000"></svg>-->
  <div id="container">
  <div id="worldmap">
  <svg id="my_dataviz" ></svg>
  </div>
  <div id="halfpage">
  <!--<svg id="sky"> </svg>-->
  </div>
  <div id="clear"></div>

    </div>


<div id="arrayStrContainerCountry"></div>

<div id="arrayStrContainer"></div>

<svg id="tb" width="400" height = "800"></svg>
<style>

.col-sm{
  display:inline-block;
  width: 55%;
}
.col-leg{
  display:inline-block;
  width: 20%;
}
select#selectButton{
  display:inline-block;
  width: 20%;
}
#clear {
    clear: both;
}
div#container {
  margin: auto;
}
        div#halfpage{
          float:left;
          display:inline-block;
        width: 24%;
        border:2px solid #000;
        overflow-y: auto;
        height: 500px;
        }

        div#worldmap{
          float:left;
          display:inline-block;
        width: 75%;
        border:2px solid #000;
        overflow-y: auto;
        overflow-x: auto;
        height: 500px;
        }


        svg#sky {
          width: 100%;
          border:1px dotted #ccc;
          background-color: #ccc;
       }
    </style>
<script>
var years = [];
var pops = [];
var country_name =""
var svg = d3.select("#my_dataviz")
 .attr("preserveAspectRatio", "xMinYMin meet")
 .attr("viewBox", "0 0 1000 800")
 .classed("svg-content-responsive", true),
  width = +svg.attr("width"),
  height = +svg.attr("height");

  var svg_itself = d3.select("#my_dataviz")

  function add(accumulator, a) {
    return accumulator + a;
  }

  const zoom = d3.zoom()
    .scaleExtent([1, 8])
    .extent([[0, 0], [width, height]])
    .on("zoom", () => svg.attr("transform", d3.event.transform));

    svg_itself.call(zoom);
var s;

// Map and projection
var path = d3.geoPath();
var projection = d3.geoMercator()
  .scale(150)
  .center([0,0])
  .translate([1000 / 2, 800 / 2]);

// Data and color scale
var data = d3.map();
var cl = []
var sp = {}

//filters
var year_range = [];
var tax_filter = "Everything";
var filters = [yearFilter,taxFilter]

var textFile;

d3.json("/data/species/", function(d){
  sp = d;
});
// Load external data and boot
d3.queue()
  .defer(d3.json, "/data/world")
  .defer(d3.csv, "/static/world_population.csv",
  function(d) {
    data.set(d.code, +d.pop)})
  .await(ready);


function ready(error, topo) {
  var cl;
  d3.json("/data/species", function(dd){
    sp = dd;




    d3.json("/data/countries", function(d){
      // data stuff
      cl = d;
      for (var i = 0; i < topo.features.length; i++){
        topo.features[i].datum = cl[topo.features[i].properties.name]
        if (topo.features[i].datum != undefined){
          for (var j = 0; j < topo.features[i].datum.length; j++){
            var species_name = topo.features[i].datum[j][0]
            var area = topo.features[i].datum[j][1]
            topo.features[i].datum[j] = {}
            topo.features[i].datum[j].name = species_name
            topo.features[i].datum[j].area = area
            topo.features[i].datum[j].attr = dd[species_name];
            years.push(dd[species_name].year)
          }
        }
      }

      year_range = [Math.floor(d3.min(years)), Math.floor(d3.max(years))]
      //filter by taxa
      myList = [];
      for (var key in dd){
        myList.push.apply(myList, dd[key].taxa.replace(/ *\([^)]*\) */g, "").split(/[,;]+/));
      }
      const unique = [...new Set(myList)];
      unique.splice(unique.indexOf(""),1)
      unique.sort()
      unique.unshift("Everything")
      d3.select("#selectButton")
        .selectAll('myOptions')
       	.data(unique)
        .enter()
      	.append('option')
        .text(function (d) { return d; }) // text showed in the menu
        .attr("value", function (d) { return d; })
        d3.select("#selectButton").on("change", function(d) {
          // recover the option that has been chosen
          var selectedOption = d3.select(this).property("value")
          // run the updateChart function with this selected option
          tax_filter = selectedOption
          update(topo, filters, [year_range, tax_filter]);
      }) // correspond


      //slider bar
      var sliderRange = d3
    .sliderBottom()
    .min(d3.min(years))
    .max(d3.max(years))
    .width(300)
    .tickFormat(d3.format('4.0f'))
    .ticks(10)
    .default([d3.min(years), d3.max(years)])
    .fill('#2196f3')
    .on('onchange', val => {
      d3.select('p#value-range').text(val.map(d3.format('4.0f')).join('-'));
      year_range = [Math.floor(val[0]), Math.floor(val[1])]
      update(topo, filters, [year_range, tax_filter]);
    });

  var gRange = d3
    .select('div#slider-range')
    .append('svg')
    .attr('width', 500)
    .attr('height', 100)
    .append('g')
    .attr('transform', 'translate(30,30)');

  gRange.call(sliderRange);

  d3.select('p#value-range').text(
    sliderRange
      .value()
      .map(d3.format('4.0f'))
      .join('-')
  );


      update(topo, filters, [year_range, tax_filter]);

    });
  });
};

function yearFilter(input_data, value){
  ret = []
  if (input_data == undefined){
    return input_data
  }else {
    for (var i = 0; i < input_data.length; i++){
      if (input_data[i].attr.year <= value[1] && input_data[i].attr.year >= value[0]){
        ret.push(input_data[i])
      }
    }
    return ret;
  }
}

function taxFilter(input_data, value){
  ret = []

  if (input_data == undefined){
    return input_data
  }else {
    if (value == "Everything"){
      return input_data
    }
    for (var i = 0; i < input_data.length; i++){
      if (input_data[i].attr.taxa.includes(value)){
        ret.push(input_data[i])
      }
    }
  return ret;
}
}
function update(topo, funcs, value){

  let topo2 = JSON.parse(JSON.stringify(topo));


  var sizes = [];
  //update data
  if (funcs != null){
    for (var i = 0; i < topo.features.length; i++){
      var piece = topo.features[i].datum
      for(var j = 0; j < funcs.length; j++){
        piece = funcs[j](piece, value[j])
      }
      topo2.features[i].datum = piece
      if (topo2.features[i].datum != undefined){
        l = 0
        for (var j = 0; j < topo.features[i].datum.length; j++){
          l += topo.features[i].datum[j].area
        }
        //sizes.push(topo2.features[i].datum.length)
        sizes.push(l)
      } else{
        sizes.push(0)
      }
    }
  } else{
    for (var i = 0; i < topo.features.length; i++){
      if (topo2.features[i].datum != undefined){
        sizes.push(topo2.features[i].datum.length)
      } else{
        sizes.push(0)
      }
    }

  }

    var max = d3.max(sizes)
    var min = d3.min(sizes)
    var colorScale = d3.scaleSequential().domain([min,max])
    .interpolator(d3.interpolateRgb("purple", "orange"));

    //legenddd
          d3.select("#legend_svg").remove();
    var leg = d3.select("#legend")
      .append("svg")
      .attr("width",500)
      .attr("height",150)
      .attr("id", "legend_svg");

    var rects = leg.selectAll("rect")
      .data(d3.range(min, max, Math.floor((max - min) / 5)))
      .enter()
      .append("rect")
      .attr("width",15)
      .attr("height", 15)
      .attr("y", function(d,i) { return i * 20;})
      .attr("x", function(d,i) { return 15;})
      .attr("fill", function(d) { return colorScale(d); })

      leg.selectAll("text")
      .data(d3.range(min, max, Math.floor((max - min) / 5)))
      .enter()
      .append("text")
      .attr("y", function(d,i){return (i * 25) - 10;})
      .attr("x", function(d,i) { return 40;})
      .text(function(d) { return d; })

      //
      d3.select("#download")
      .on("click", function(d){
        var link = document.createElement('a');
        var file_name = country_name + "_" + tax_filter + "_" + year_range[0] + "-" + year_range[1] + ".txt"
        link.setAttribute('download', file_name);
        link.href = textFile;
        document.body.appendChild(link);

        // wait for the link to be added to the document
window.requestAnimationFrame(function () {
  var event = new MouseEvent('click');
  link.dispatchEvent(event);
  document.body.removeChild(link);
});
      })

  //draw map
  svg.append("g")
  .selectAll("path")
  .data(topo2.features)
  .enter()
  .append("path")
  .attr("d", d3.geoPath().projection(projection))
  .attr("fill", function (d) {
    l = "#808080"
    if (d.datum != undefined){
        //l = colorScale(d.datum.length);
        l = 0
        for (var i = 0; i < d.datum.length; i++){
          l += d.datum[i].area
        }
    }
    return colorScale(l);
  })
  .on('click',function(d){
    console.log(d)
    s = d3.select("#tb")
    t = ""
    a = []
    if (d.datum != undefined){
      country_name = d.properties.name
      for(var i = 0; i < d.datum.length; i++){
        t = d.datum[i].name
        a.push(t);
        s.append("text").attr("x", 20).attr("y", (i + 1)*20);
        s.text(t);
      }
    }
    var data = new Blob([a], {type: 'text/plain'});
    if (textFile !== null) {
      window.URL.revokeObjectURL(textFile);
    }
    textFile = window.URL.createObjectURL(data);

    updateList(d.datum)
  });
}

function updateList(list){

  if (list == null){
    return
  }
  d3.select("#sky").remove();
    var svgContainer = d3.select("#halfpage").append('svg')
        .attr('height', list.length * 60)
        .attr('width', 300)
        .attr('id', 'sky');


        //list
    svgContainer.selectAll("g")
                .data(list)
                .enter()
                .append("rect")
                .attr("width", 250)
                .attr("height", 30)
                .attr("x", 12)
                .attr("y", function(d, i){
                    return 50 * i;
                })
                .style("fill", "white")

                svgContainer.selectAll("text")
                .data(list)
                .enter()
                .append("text")
                    .attr("x", function(d) { return 15 })
                    .attr("y", function(d, i){
                        return 50 * i + 20;
                    })
                    .attr("dy", ".35em")
                    .text(function(d) { return d.name; })
                    .style('fill', 'Black')
                    .style('font-size',"20");

}



</script>
